=provide(:title, "About")
%h1.big-title About

%h3.small-title International Print Network (IPNet)

%p.main-intro-text ist eine Partnerschaft von International Print Triennial (SMTG) Krakau (Polen), dem Horst-Janssen-Museum Oldenburg (Deutschland) und dem Wiener Künstlerhaus (Österreich). Sie ist die größte europäische Initiative für Grafikkunst. 2006/07 und 2009/10 wurden Großausstellungen in allen Partnerstädten gezeigt, begleitet von vielfältigen Programmen: Wettbewerbe, Symposien, internationale Austausch- und Bildungsprogramme.<br><br> Seit 2009 wird diese Zusammenarbeit unter dem Titel International Print Network von der Europäischen Union im Rahmen des Programms Kultur 2007-2013 gefördert. Assoziierte Partner: Mimar Sinan Universität Istanbul (Türkei), Dalarnas Museum in Falun (Schweden). Die Aktivitäten des International Print Networks werden in umfangreichen  #{link_to 'Publikationen', 'http://www.faksimile-digital.at/index.php?id=85'} und Dokumentationen veröffentlicht. <br><br>
%p.links #{ link_to "http://www.triennial.cracow.pl/", "http://www.triennial.cracow.pl/", :target => "_blank" }
%p #{ link_to "http://www.horst-janssen-museum.de/", "http://www.horst-janssen-museum.de/", :target => "_blank" }
%p #{ link_to "http://www.dalarnasmuseum.se/", "http://www.dalarnasmuseum.se/", :target => "_blank" }
%p #{ link_to "http://www.msgsu.edu.tr/msu/pages/436.aspx", "http://www.msgsu.edu.tr/msu/pages/436.aspx", :target => "_blank" }
<br>

= image_tag("IPNet.jpg", :alt => "IPNet Logo")
<br>
= image_tag("eu-logo.jpg", :alt => "EU Logo")
%p.main-intro-text This project has been funded with support from the European Commission. This publication [communication] reflects the views only of the author, and the Commission cannot be held responsible for any use which may be made of the information contained therein.
<br>
<br>


%h1.big-title.padding-big Impressum
%p.main-intro-text INHALTLICHE UND REDAKTIONELLE VERANTWORTUNG: Georg Lebzelter
<br>
%p.date Künstlerhaus
%p.date Karlsplatz 5
%p.date 1010 Wien
<br>
%p.date  mail: office@k-haus.at

%h3.small-title.padding-big HAFTUNG
%p.date Es wird keine Garantie für die Richtigkeit, Vollständigkeit und Aktualität der Angaben übernommen. Insbesondere kann keinerlei Verantwortung für Links zu anderen Webseiten übernommen werden. Eine Haftung des Künstlerhauses ist ausgeschlossen.
%p.main-intro-text TECHNISCHE KONZEPTION UND UMSETZUNG: Sito Schwarzenberger & Ed Wassermann
<br>
%p.date © Copyright Künstlerhaus All Rights Reserved
<br>
