= provide(:title, 'Home')
%h1.context-title.image-box.padding-bottom-small GRAFIK IN / AUSWENDIG

%section
  %p.intro-text.main-intro-text.padding-bottom As part of the International Print Network (IPNet) the Künstlerhaus Vienna is organizing an International Graphic Arts Exhibition (18th April – 9th June, 2013), of contemporary printmaking, its processes and innovative means of representation. The exhibition also includes the Public Art Project MONEY MAKES VISIBLE were an international selection of graphic prints will be displayed on billboards in public places 

%h2.big-title.center Exhibition room  <br /> & <br /> Billboard
%h3.small-title.center International Grafics at Künstlerhaus
  
%section
  .image-boxes
    .box01.center
      = image_tag("pic01.jpg", :alt => "pic01", :class => ".box01")
    .box02.center
      = image_tag("Ingeborg_Strobl_Geld-macht-sichtbar_Plakat.jpg", :alt => "Bild zum Plakatkunstprojekt Geld Macht Sicht Bar", :class => ".box02")

    .box03.center
      = image_tag("pic02.jpg", :alt => "pic03", :class => ".box03")

    .box04.center
      = image_tag("Albers.jpg", :alt => "pic04", :class => ".box04")

%section
  %p.text-column.main-intro-text The exhibition in.print.out will focus on Graphic Art as a multidisciplinary and process-related language, were dialogues of traditional disciplines persisting self-evidently next to evolving innovative technologies, interactive installations and new forms of artistic activities. In the last years, Graphic Art accumulatively connected various streams of Contemporary Art, including Printmaking, Drawing, Photography, Graphic Design, Digital Printing Processes, Film and Digital Media. A new flood of images, virtually or analogue produced, mingled with each other and created opportunities to spurn discussions of print media, as a field of artistic experiments and the intelligent articulation of new and traditional processes. The exhibition’s goal is to illuminate the broad range of possibilities within contemporary Graphic Art Practices. At one point the show will concentrate on issues of image making, its communicative power and process related practices, were aesthetic questions and social communication structures are evolving.


