%header.header-wrapper
  %nav
    %a.logo{ :href => root_path } in.print.out
    .k-h-wrapper
      = link_to image_tag("K-Haus-Logo-non-hover.jpg", :mouseover => "K-Haus-Logo-hover.jpg", :alt => "Künstlerhaus-Logo-Link", :class => "k-h_logo"), "http://www.k-haus.at/", :target => "_blank"
      .k-h-logo-text
        = link_to image_tag("Kuenstlerhaus.jpg", :alt => "Kuenstlerhaus-Link", :class => ""), "http://www.k-haus.at/de/ausstellungen/vorschau/169/in.print.out.html", :target => "_blank"
 
    .social-media
      .top
        = link_to image_tag("white-fb-icon-hover.png", :class => "top"), "http://www.facebook.com/pages/inprintout/252270788238577", :target => "_blank"
        = link_to image_tag("white-fb-icon.png", :class => "bottom"), "http://www.facebook.com/pages/inprintout/252270788238577", :target => "_blank"       
        = link_to image_tag("white-tumblr-icon-hover.png", :class => "top"), "http://triennale.tumblr.com", :target => "_blank"
        = link_to image_tag("white-tumblr-icon.png", :class => "top"), "http://triennale.tumblr.com", :target => "_blank"

